<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if (navigators.length) { %>
    <% include navigator %>
  <% } %>

  <% include main %>

  <% if (features.length) { %>
    <% include feature %>
  <% } %>

  <% if (example.title) { %>
    <% include example %>
  <% } %>

  <% include footer %>
</body>
</html>
