html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  min-height: 480px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.75s;
}

.tpl-zatlas .container {
  width: 80% !important;
}

.tpl-zatlas .text-sm {
  font-size: 0.8rem;
}

.tpl-zatlas h4 {
  font-size: 1.8rem;
}

.tpl-zatlas .page-header {
  background: #9186EB;
}

.tpl-zatlas nav {
  background: #9186EB;
  box-shadow: none;
}

.tpl-zatlas .header-nav {
  margin-left: 10rem;
  overflow: hidden;
}

.tpl-zatlas .header-nav li {
  margin-left: 2rem;
}

.tpl-zatlas .spotlight {
  margin-top: 40px;
  padding-bottom: 10px;
}

.tpl-zatlas .spotlight-title {
  float: left;
}

.tpl-zatlas .spotlight-img {
  float: right;
}

.tpl-zatlas .spotlight-extra {
  float: left;
  margin-top: 3rem;
}

.tpl-zatlas .spotlight-btn {
  color: #9186EB;
  font-weight: 500;
  background: #fff;
  margin-top: 4rem;
  width: 120px;
  border-radius: 20px;
}

.tpl-zatlas .spotlight-btn:hover {
  box-shadow: 0 2px 8px 2px #666;
}

.tpl-zatlas .page-main {
  background: url('./images/header_bg.png') no-repeat top center, url('./images/footer_bg.png') no-repeat bottom center;
  background-size: contain;
  padding-top: 270px;
  padding-bottom: 270px;
}

.tpl-zatlas .feature {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tpl-zatlas .feature-num {
  color: rgba(145, 134, 235, 0.6);
  font-weight: bold;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
}

.tpl-zatlas .feature-desc {
  max-width: 70%;
}

.tpl-zatlas .features .feature-reserve .feature-content {
  padding-left: 10%;
}

.tpl-zatlas .cases {
  margin-top: 150px;
}

.tpl-zatlas .case-title {
  color: #9186EB;
  font-weight: 500;
}

.tpl-zatlas .case-desc {
  color: #9186EB;
}

.tpl-zatlas .case-name {
  font-size: 1.5rem;
}

.tpl-zatlas .page-footer {
  background: #9186EB;
  padding-top: 0;
  padding-bottom: 10px;
}

.tpl-zatlas .page-footer .brand-logo {
  color: #fff;
  font-size: 2.1rem;
  margin-left: 2rem;
}

.tpl-zatlas .footer-links {
  position: relative;
}

.tpl-zatlas .footer-links:before {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 1px;
  height: 100%;
  transform: scale(.5, 1);
  transform-origin: 0 0;
  content: '';
  border-right: 1px solid #fff;
}

.tpl-zatlas .footer-link {
  margin-top: 1.7rem;
}

.tpl-zatlas .footer-contact {
  padding-left: 4rem;
}

.tpl-zatlas .footer-contact li {
  line-height: 1.6rem;
}

.tpl-zatlas .footer-contact .material-icons {
  vertical-align: middle;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 600px) {
  .tpl-zatlas .page-nav {
    width: 95% !important;
  }
  .tpl-zatlas .page-nav .brand-logo {
    font-size: 1.3rem;
  }
  .tpl-zatlas .page-nav .brand-logo img {
    width: 25px;
  }
  .tpl-zatlas .spotlight {
    margin-top: 0;
    text-align: center;
  }
  .tpl-zatlas .spotlight-extra {
    margin-top: 0;
  }
  .tpl-zatlas .spotlight-btn {
    margin-top: 5rem;
  }
  .tpl-zatlas .page-main {
    padding-top: 150px;
    padding-bottom: 180px;
  }
  .tpl-zatlas .feature-num {
    display: none;
  }
  .tpl-zatlas .feature {
    padding-bottom: 0;
  }
  .tpl-zatlas .feature-content {
    margin-top: 1rem;
  }
  .tpl-zatlas .feature-content h5 {
    text-align: center;
  }
  .tpl-zatlas .feature-content .feature-desc {
    max-width: 100%;
  }
  .tpl-zatlas .cases {
    margin-top: 100px;
  }
  .tpl-zatlas .cases img {
    width: 100%;
  }
  .tpl-zatlas .footer-brand {
    text-align: center;
    margin-bottom: 1rem;
  }
  .tpl-zatlas .footer-brand .brand-logo {
    margin-left: 0;
  }
  .tpl-zatlas .footer-link {
    margin-top: 1rem;
  }
  .tpl-zatlas .footer-links:before {
    content: none;
  }
  .tpl-zatlas .footer-contact {
    padding-left: 0.75rem;
  }
}
