<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="shortcut icon" href="images/Logo_default.png" type="image/x-icon">
  <link rel="stylesheet" href="./materialize/css/iconfont.css">
  <link rel="stylesheet" href="./materialize/css/materialize.css">
  <link rel="stylesheet" href="./<%= _name %>.css">
</head>
<body class="tpl-zatlas">
  <% include head %>
  <% include body %>
  <% include foot %>

  <script src="./materialize/js/materialize.min.js"></script>
  <script src="./<%= _name %>.js"></script>
</body>
</html>
